body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bar{
  top: 0px;
  width: 100vw;
  height: 10vh;
  background-color: green;
  color: white;
}

.barImage{
  left: 0.5vw;
  top: 2.5vh;
  height: 5vh;
  position: absolute;
}

.barText{
  left: 50vw;
  top: 2.5vh;
  font-size: 4.5vh;
  position: absolute;
}

.pdfView{
  height: 60vh;
  width: 100vw;
}